/**
 * style.css
 *
 * Defines the styling for elements in progProject.html
 *
 * Author: Xander Locsin
 */

/* ------------------------ PAGE LAYOUT ------------------------------------- */

body {
  background-color: #e4d0af;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  border-width: 1px;
  margin: 10px;
}

.boxHeader {
  border-width: 1px;
  padding: 10px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.boxContent {
  padding-left: 10px;
  padding-right: 10px;
}

.bottomHeader {
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.TopTitle{
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
}
.TopTitleDecorations{
  display: table-cell;
  font-size: 25px;
  width: 80px
}

.TopDecorationRow {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
}
.TopDecorationSides {
    display: table-cell;
    width: 30px
}
.TopDecorationLine {
    display: table-cell;
    vertical-align: middle;
}
.TopDecorationCentre {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
}

.OutputRow{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
}
.OutputColumnLeft{
    display: table-cell;
    vertical-align: middle;
}
.OutputColumnRight{
    display: table-cell;
    vertical-align: middle;
}

.BlackRectangle {
  background-color: black;
  height: 2px;
  color: black;
}

.InlineText{
  display:inline-block;
} 

.OutputBox{
  display:inline-block;
  vertical-align: middle;
  align-content: center;
  margin: 3px;
  background-color: #e4d0af;
  font-weight: bold;
  font-size: x-large;
}

#topTitle {
  /* width: calc(100% - 20px); */
  height: 50px;
  font-weight: bold;
}
